<!DOCTYPE html>
<html>
<head>
    <title>Select a Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Select a Quiz</h1>
        <ul class="list-group">
            {% for quiz in quizzes %}
            <li class="list-group-item">
                <a href="{{ url_for('quiz', quiz_id=quiz.id) }}">{{ quiz.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>